@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Removes horizontal scroll issue */
}

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.manu{
  border: 0.5px solid orange;
  /* border-bottom: 0.5px solid orange ; */
  /* display: none; */
}
.man {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
  margin: 16px;

}

.display-flex {
  display: flex;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.navbar-display-1 {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
}

.nav-link-1{
  color: orange;
}
.nav-link-2{
  color: skyblue;
}
.nav-link-3{
  color: #05d4df;
}
.nav-link-4{
  color: #05d4df;
}


.nav-btn{
  width: 197px;
  height: 50px;
  padding: 10px;
  border-radius: 12px;
  font-size: 20px;
  background-color: orange;
  color: white;
}



.banner {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
  /* text-align: center;  */
  padding: 20px;
  gap: 40px;
}

.banner-content{
  /* border: 2px solid palegreen; */
  width: 640px;
 height: 331px;
 padding: 20px;
}

.banner-title {
  font-size: 3.5rem;
  font-weight: bold;
}

.h1-orange {
  color: orange;
}

.h1-skyblue {
  color: skyblue;
}

.banner-description {
  font-size: 14px;
  margin: 10px 0;
}

.h1-btn{
  background-color: black;
  color: white;
  width: 197px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}



.banner-img {
  max-width: 100%;
  height: auto;
  margin: 10px;
}

.arrow{
  border: 1px solid rebeccapurple;
  display: flex;
}






/* Responsive Styles */
@media (max-width: 676px) {
  .manu{
    border: 0.5px solid orange;
    
  
  }
  .man{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    
}
  .navbar{
    flex-direction: column;
    display: none;
    gap: 20px;
    
}





  .navbar {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .banner {
    flex-direction: column-reverse; 
    gap: 20px;
  }

  .banner-title {
    font-size: 2rem;
  }

  .banner-description {
    font-size: 12px;
  }

  .h1-btn {
    font-size: 14px;

  }

  .banner-content {
    width: 357px;
    height: 252px;
  }
}






/* main function er kaj suru korsi kintu */


/* section standard curriculam */
/* .curriculum-container {
  text-align: center;
  margin: 0 auto;
  padding: 40px;
  background-image: url('../assets/bg.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
  color: #333;
  
  
} */




.background{
    /* position: relative;
    width: 1440px;
    height: 880px; */
    text-align: center;
  margin: 0 auto;
  padding: 40px;
  background-image: url('../assets/bg.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
  color: #333;
}


.h1-tag{
    text-align: center;
  font-size: 2.5rem;
  margin-top: 40px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 30px;
}

.container{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

   
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1440px;
    height: 840px;
    gap: 20px;
    padding: 80px;
    margin: 0 auto;
  
    justify-content: center;
    align-items: center;
    justify-items: center; */
}

.box{

  width: 367px;
  height: 475px;
  border-radius: 18px;
  box-shadow: 0 4px 3px rgb(206, 91, 110);
  margin-top: 30px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;  
    /* border: 2px solid #e0e0e0;
    background-color: #fff;
    width: 368px;
    height: 480px;
    border-radius: 18px;
    
    text-align: center;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;

    box-shadow: 0 4px 3px #e0e0e0; */
}

.box img{
    max-width: 130px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.title{
    font: 1.5rem;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #202020;
    width: 210px;
    height: 31px;
}
#card-1{
    background: linear-gradient(180deg,#DEF5FF,#FFFFFF);
}
#card-2{
    background: linear-gradient(180deg,#FFF4DC,#FFFFFF);
}
#card-3{
    background: linear-gradient(180deg,#F2E8FF,#FFFFFF);
}

.box p {
    font-size: 1rem;
    color: #808080;
    line-height: 1.5;
    margin-bottom: 10px;
    margin: 30px;
  }
.box a{
    /* color: #64C8FF; */
    /* margin: 20px 0px; */
    margin-top: 30px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;

}
.a-1{
    color: #64C8FF;
}
.a-2{
    color: #F0AA00;
}
.a-3{
    color: #8700FF;
}

 

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

    
  .carousel-buttons {
    margin-top: 50px;
   
  }
  
  .carousel-buttons button {
    background-color: orange;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s;
  }
  
  .carousel-buttons button:hover {
    background-color: #3b2ad4;
  }





  /* Our Stories */
/* CSS */


  .section-22{
    justify-items: center;
    margin:0 auto;
    background: linear-gradient(180deg,white, #FFE8BF );
  
  }

.our-stories-title{
  width: 460px;
  height: 58px;
  color: black;
  font-size: 3rem;
  margin-left: 500px;
  margin-bottom: 20px;
  
}
  
  .our-stories{
    /* border: 1px solid lawngreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1160px;
    height: 630px;
    gap: 18px;
    margin-left: 170px;
    margin-top: 40px;
    margin-bottom: 50px;
   
  }

  .container-1{
    background-color: white;
    /* border: 2px solid rgb(233, 10, 10); */
    width: 540px;
    height: 630px;
    border-radius: 16px;
    box-shadow: 0 4px 3px #05a615;
  }
  .container-child img{
    width: 540px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  

  .card-title-1{
    /* border: 2px solid rgb(0, 255, 42); */
    font-size: 1.5rem;
    width: 402px;
    height: 70px;
    /* padding: 38px; */
    margin: 38px;
  }
.card-description{
  color: #666666;
  font-size: 1rem;
  width: 433px;
  height: 75px;
  margin: 34px;
}

  .card-title-2{
    /* border: 2px solid #f2f609; */
    width: 200px;
    height: 48px;
    font-size: 1rem;

  }







  .container-2{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 540px;
    height: 630px;
    gap: 16px;
    
    
  }
  .stories-1{
    /* border: 1px solid rgb(128, 98, 0); */
    width: 260px;
    height: 301px;
    border-radius: 16px;
    box-shadow: 0 4px 3px #05a615;
    background-color: white;
  }
 .card-title-2{
  margin: 10px auto;
 }
  .stories-1 img{
    /* border-radius: 20px; */
    width: 260px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

  }

  .Stories-btn{
    width: 197px;
    height: 50px;
    font-size: 16px;
    background-color: #000000;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    margin-top: 30px;

  }


  .stories-1 button{
    width: 174px;
  height: 38px;
  color: #fff;
  border-radius: 47px;
  font-size: 1rem;
  transform: translate(-50%, -50%);
  margin-left: 40%;
  border: none;
 box-shadow: 0 4px 4px rgba(237, 31, 4, 0.2);
  }

  .our-btn-1{
    background-color: #3CD8E8;
    width: 174px;
    height: 38px;
    color: #fff;
    border-radius: 47px;
    font-size: 1rem;
    transform: translate(-60%, -75%);
    /* margin-left: 50%; */
    border: none;
   box-shadow: 0 4px 4px rgba(237, 31, 4, 0.2);
  }
 .our-btn-2 {
 background-color: #95B226;
  }
  .our-btn-3{
    background-color: #5D58F0;
  } 

  .container-1:hover {
    /* background-color: #3b2ad4; */
    transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
.stories-1:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}





/* responsive --Our Stories */
/* @media screen and (max-width: 676px) {
  
} */
@media (max-width: 576px) {

  .container-1 {
    display: none;
  }

  .our-stories-title {
    font-size: 2rem;
    width: auto;
    text-align: center;
    margin-left: 0;
  }

  .our-stories {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0;
    gap: 20px;
  }

  .container-2 {
    width: 90%;
    height: 80%;
    gap: 2px;
    margin: 0px;
    padding: 5px;
   
  }

  .container-child img {
    width: 100%;
  }

  .card-title-1,
  .card-description {
    width: auto;
    margin: 20px;
  }

  .stories-1 {
    width: 90%;
    height: 220px;
  }

  .stories-1 img {
    width: 100%;
    height: auto;
  }

  .card-title-2 {
    width: auto;
    text-align: center;
    font-size: 12px;
  }

  .stories-1 button {
    transform: translate(0, 0);
    margin: 10px auto;
    display: block;
    width: 70%;
    height: 30px;
    font-size: 10px;
    transform: translate(-40%, -80%);
    margin-left: 40%;
  }

  .Stories-btn {
    width: 50%;
    font-size: 1rem;
    height: 45px;
    margin: 40px auto; 
    display: block; 
    display: flex;
    text-align: center;
  
    
  }
}


